<div class="card shadow border-0 my-2">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <span class="h6 font-semibold text-muted text-sm d-block mb-2">{{title}}</span>
        <span class="h3 font-bold mb-0">95%</span>
      </div>
      <div class="col-auto">
        <div class="bg-warning text-white rounded-circle text-center"  style="width: 45px; height: 45px">
            <i class="fa fa-{{icon}} fa-2x mt-2" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- style="width: 55px; height: 55px"
    class="rounded-circle" -->
