<table class="table align-middle mb-0 bg-white table-hover mt-4" *ngIf="(orders$ |async)?.length !== 0 ; else noOrders">
    <thead class="bg-light">
      <tr>
        <th></th>
        <th>Name</th>
        <th>Status</th>
        <th>Buyer Username</th>
        <th style="width:20%">Address</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody *ngFor="let order of orders$ | async">
      <tr>
        <td>
          <div>
            <span class="ant-checkbox"><input type="checkbox" class="ant-checkbox-input" value=""></span>
          </div>
        </td>
        <td style="max-width: 150px;">
          <div class="d-flex align-items-center">
            <img
                (click)="openModalWithComponent(order)"
                src="{{order.photoUrl}}"
                alt=""
                style="width: 45px; height: 45px"
                class="rounded-circle"
                />
            <!-- <div class="ms-3"> -->
              <p class="fw-bold mb-1 cut-text" title="{{order.title}}">{{order.title}}</p>
              <!-- <p class="text-muted mb-0">john.doe@gmail.com</p> -->
            <!-- </div> -->
          </div>
        </td>
        <td>
          <div>
          <p [ngClass]="{'bg-warning' : order.status=='Pending' , 'bg-info' : order.status=='Ordered',
          'bg-success' : order.status=='Delivered' , 'bg-secondary' : order.status=='Cancelled'}" 
          [ngStyle]="{'background-color': order.status=='Shipped' ? '#355CEE' : null}" class="fw-normal mb-1">{{order.status}}</p>
          <!-- <p class="text-muted mb-0">IT department</p> -->
        </div>
        </td>
        <td >
          <div>
          <span >{{order.buyerUsername}}</span>
        </div>
        </td>
        <td style="width:20%">
          <div>
          <p >{{order.address }}</p>
        </div>
        </td>
        <td>
          <div>
          <button (click)="openModalWithComponent(order)" type="button" class="btn btn-link btn-sm btn-rounded">
            Edit
          </button>
        </div>
        </td>
      </tr>
    </tbody>
  </table>

  <ng-template #noOrders>
    <h1 style="text-align: center;">No Orders for now...</h1>
  </ng-template>