<div >
  <h3 class="mb-3" *ngIf="pagination && pagination.totalItems; else null">Products ({{pagination.totalItems}})</h3>
<div class="btn-group" dropdown *ngIf="products?.length !== 0; else null">
  <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"aria-controls="dropdown-basic">
    Add Filter <span class="caret"></span>
  </button>
  <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
      role="menu" aria-labelledby="button-basic">
    <li role="menuitem"><a class="dropdown-item" (click)="openModal(buyPrice)">Buy Price</a></li>
    <li role="menuitem"><a class="dropdown-item" (click)="openModal(sellPrice)">Sell Price</a></li>
    <li role="menuitem"><a class="dropdown-item" (click)="openModal(profit)">Profit</a></li>
  </ul>
</div>

<div class="btn-group" dropdown *ngIf="products?.length !== 0; else null">
  <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle ms-2" style="width: 200px;" aria-controls="dropdown-basic">
    Sorting By <span class="caret"></span>
  </button>
  <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
      role="menu" aria-labelledby="button-basic">
    <li role="menuitem">
      <div type="button" class="btn btn-outline-primary btn-sort" name="orderBy" btnRadio="uploadedDes" (click)="loadProducts()"
      [(ngModel)]="userParams.orderBy">Uploaded Descending</div>
    </li>
    <li role="menuitem">
      <button type="button" class="btn btn-outline-primary btn-sort" name="orderBy" btnRadio="uploadedAsc" (click)="loadProducts()"
      [(ngModel)]="userParams.orderBy">Uploaded Ascending</button>
    </li>
    <li role="menuitem">
      <button type="button" class="btn btn-outline-primary btn-sort" name="orderBy" btnRadio="buyPriceDes" (click)="loadProducts()"
      [(ngModel)]="userParams.orderBy">Buy Price Descending</button>
    </li>
    <li role="menuitem">
      <button type="button" class="btn btn-outline-primary btn-sort" name="orderBy" btnRadio="buyPriceAsc" (click)="loadProducts()"
      [(ngModel)]="userParams.orderBy">Buy Price Ascending</button>
    </li>
  </ul>
</div>
<button (click)="resetFilters()"  class="btn btn-primary ms-2">Reset Filters </button>
</div>

  <div *ngIf="products?.length !== 0; else null">
  <input type="checkbox" class="mt-4" name="list_name" [checked]="count==0 ? false : true" (change)="checkUncheckAll($event)"/> <strong>&nbsp;&nbsp;&nbsp;{{count}} Result Selected</strong>
  <button class="btn btn-link text-decoration-none ms-4" (click)="openModal(confirm)"  [disabled]="count==0 ? true :false"><i class="fa fa-trash-o" aria-hidden="true"></i>Bulk Delete</button>
  </div>

<table class="table align-middle mb-0 bg-white table-hover mt-4" *ngIf="products?.length !== 0; else noDrafts">

    <thead class="bg-light">
        <tr>
          <th></th>
          <th>Name</th>
          <th>Uploaded</th>
          <!-- <th>Store</th> -->
          <th >Price</th>
          <th >Profit</th>
          <th >item ID</th>
          <th >Sold</th>
          <th style="text-align: center;">Actions</th>
        </tr>
      </thead>
    <tbody *ngFor="let draft of products">
      <tr>
        <td style="max-width: 5px;">
          <div>
            <span class="ant-checkbox"><input type="checkbox" class="ant-checkbox-input" [(ngModel)]="draft.isChecked" (ngModelChange)="changed()" value=""></span>
          </div>
        </td>
        <td style="max-width: 450px;">
          <div class="d-flex align-items-center">
            <img
            src="{{draft.photoUrl}}"
                alt=""
                style="width: 55px; height: 55px"
                class="rounded-circle"
                />
                <p style="max-width: 350px;" class="fw-bold mb-1 cut-text" title="{{draft.title}}">{{draft.title}}</p>
            <!-- <div class="ms-3">
              <p class="text-muted fs-6  mb-0">Supplier: {{draft.url.includes("walmart") ? "Walmart US" : null}} &nbsp;&nbsp; |&nbsp;&nbsp; Sellet: {{draft.brand}} &nbsp;&nbsp; |&nbsp;&nbsp;<a class="link-secondary" href="{{draft.url}}">View Source Product</a></p>
            </div> -->
          </div>
        </td>
        <td>
            {{draft.uploaded}}
        </td>
        <!-- <td>
            Store Name
        </td> -->
        <td>
            <div class="mb-1">
                <span class="bg-secondary text-white" style="display: inline-block; width: 30px; ">Buy</span> ${{draft.buyPrice.toFixed(2)}}
            </div>
            <div>
                <span class="bg-secondary text-white" style="display: inline-block; width: 30px;">Sell</span> ${{draft.sellPrice.toFixed(2)}}
            </div>
        </td>
        <td>
            <span>${{draft.profit.toFixed(2)}}</span>
        </td>
        <td>
            <div class="mb-1">
                <span class="bg-secondary text-white" style="display: inline-block; width: 30px; ">Buy</span> <a href="{{draft.url}}">{{draft.itemId}}</a>
            </div>
            <div>
                <span class="bg-secondary text-white" style="display: inline-block; width: 30px;">Sell</span> Sell Link
            </div>
        </td>
        <td>
          {{draft.quantitySold}}
        </td>
        <td >
          <div class="float-end">
            <!-- <button type="button" class="btn btn-outline-secondary m-1" (click)="openModalWithComponent(draft)" >Edit</button> -->
            <button type="button" class="btn btn-outline-warning  m-1"  (click)="toDraft(draft)">Back To Drafts</button>
            <button type="button" class="btn btn-outline-danger m-1"  (click)="remove(draft.id)">Delete</button>
            <button type="button" class="btn btn-outline-info m-1" routerLink="/products/{{draft.id}}">View details</button>
          </div>
        </td>
      </tr>
      </tbody>
  </table>
  
  <div class="d-flex justify-content-center mt-3" *ngIf="pagination && products?.length !== 0; else null">
    <pagination
      [boundaryLinks]="true"
      [totalItems]="pagination.totalItems"
      [itemsPerPage]="pagination.itemsPerPage"
      [(ngModel)]="pagination.currentPage"
      (pageChanged)="pageChanged($event)"
      previousText="&lsaquo;"
      nextText="&rsaquo;"
      firstText="&laquo;"
      lastText="&raquo;">
  </pagination>
  </div>

  <div class="d-flex justify-content-end mb-2">
    <div>Show :&nbsp;&nbsp;&nbsp;</div>
  <select class="form-select form-select-sm" [(ngModel)]="selectedValue" (ngModelChange)="onChange($event)"  >
  <option  *ngFor="let o of options" [ngValue]="o" [selected]="o==userParams.pageSize">{{o}}</option>
  </select>
  <div *ngIf="pagination && pagination.totalItems;">&nbsp;&nbsp;&nbsp; Out of {{pagination.totalItems}}</div>
  </div>

  <ng-template #noDrafts>
    <h1 style="text-align: center;">No Products To Show...</h1>
    <!-- <h1 style="text-align: center;">If you want to insert some new items please click the button below</h1>
    <button>Add Draft</button> -->
  </ng-template>

  <ng-template #buyPrice>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Filter By Buy Price</h4>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="container mt-3">
        <form #form="ngForm" class="form-inline mb-3" (ngSubmit)="loadProducts()" autocomplete="off">
          <div class="form-group mb-2">
            <label for="">Buy Price from:</label>
            <input type="number" value="0" class="form-control ml-1" name="minBuyPrice" [(ngModel)]="userParams.minBuyPrice">
          </div>
      
          <div class="form-group mb-2">
            <label for="">Buy Price to:</label>
            <input type="number"  class="form-control ml-1" name="maxBuyPrice" [(ngModel)]="userParams.maxBuyPrice">
          </div>
  
          <button (click)="modalRef?.hide()" type="submit" class="btn btn-secondary ml-1">Apply Filters </button>
          <button (click)="modalRef?.hide()" (click)="resetFilters()" type="button" class="btn btn-info ml-1">Reset Filters </button>
        </form>
      </div>
    </div>
  </ng-template>

  <ng-template #sellPrice>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Filter By Sell Price</h4>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="container mt-3">
        <form #form="ngForm" class="form-inline mb-3" (ngSubmit)="loadProducts()" autocomplete="off">
          <div class="form-group mb-2">
            <label for="">Sell Price from:</label>
            <input type="number" value="0" class="form-control ml-1" name="minBuyPrice" [(ngModel)]="userParams.minSellPrice">
          </div>
      
          <div class="form-group mb-2">
            <label for="">Sell Price to:</label>
            <input type="number"  class="form-control ml-1" name="maxBuyPrice" [(ngModel)]="userParams.maxSellPrice">
          </div>
  
          <button (click)="modalRef?.hide()" type="submit" class="btn btn-secondary ml-1">Apply Filters </button>
          <button (click)="modalRef?.hide()" (click)="resetFilters()" type="button" class="btn btn-info ml-1">Reset Filters </button>
        </form>
      </div>
    </div>
  </ng-template>

  <ng-template #profit>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Filter By Profit</h4>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="container mt-3">
        <form #form="ngForm" class="form-inline mb-3" (ngSubmit)="loadProducts()" autocomplete="off">
          <div class="form-group mb-2">
            <label for="">Profit from:</label>
            <input type="number" value="0" class="form-control ml-1" name="profit" [(ngModel)]="userParams.minProfit">
          </div>
      
          <div class="form-group mb-2">
            <label for="">Profit to:</label>
            <input type="number"  class="form-control ml-1" name="maxBuyPrice" [(ngModel)]="userParams.maxProfit">
          </div>
  
          <button (click)="modalRef?.hide()" type="submit" class="btn btn-secondary ml-1">Apply Filters </button>
          <button (click)="modalRef?.hide()" (click)="resetFilters()" type="button" class="btn btn-info ml-1">Reset Filters </button>
        </form>
      </div>
    </div>
  </ng-template>

  <ng-template #confirm>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Confirm Delete</h4>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>

      <div class="modal-footer d-flex justify-content-between">
        <button (click)="modalRef?.hide()" type="button" class="btn btn-secondary ml-1 ">Cancel </button>
        <button (click)="modalRef?.hide()" (click)="removeSelected()" type="button" class="btn btn-info ml-1">Delete </button>
    </div>

  </ng-template>
