
  <ng-container *ngIf="currentUser$ | async as user">
  <nav class="navbar navbar-expand-lg navbar-light ">
      <div class="container-fluid">
        <button class="btn" > <span (click)="clickEvent()" [ngClass]="status ? 'remove' : 'show'" class="navbar-toggler-icon"></span></button>
        <button class="btn" > <span (click)="clickEvent()" [ngClass]="status ? 'show' : 'remove'" class="navbar-toggler-icon"></span></button>
        <!-- <button class="btn btn-primary" (click)="clickEvent()" [ngClass]="status ? 'remove' : 'show'"> <i class="fa-solid fa-arrow-right-long-to-line"></i></button>
        <button class="btn btn-primary" (click)="clickEvent()" [ngClass]="status ? 'show' : 'remove'"> <i class="fa-solid fa-arrow-left-from-line"></i></button> -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <!-- <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li> -->
          </ul>

          <form  class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="button">Search</button>
            
            <div class="dropdown"  dropdown>
              <div class="d-flex flex-row align-items-center" style="margin:0 3rem ;">
                <i class="fa fa-user fa-2x" style="cursor: pointer;" dropdownToggle></i>
                <!-- <a class="dropdown-toggle danger" >{{user.username | titlecase}}</a> -->
                <span>{{user.username | titlecase}}</span>
   
              </div>
              <div class="dropdown-menu " *dropdownMenu>
                <a class="dropdown-item" routerLink="/settings">Profile Settings</a>
                <div class="dropdown-divider"></div>
                <a (click)="logout()" class="dropdown-item">Logout</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </nav>
  </ng-container>