body {
  overflow-x: hidden;
}

@media (min-width: 768px) {

  .show
  {
    margin-left: 0!important;
  }
  /* .hide
  {
    margin-left: -15rem!important;
  } */
  .remove
  {
    display: none;
  }
}
@media (max-width: 767px) {
  /* .show
  {
    margin-left: -15rem!important;
  } */
  .hide
  {
    margin-left: -0!important;
  }
  .remove
  {
    display: none;
  }
}