<table class="table align-middle mb-0 bg-white table-hover mt-4" *ngIf="drafts.length !== 0; else noDrafts">
  <tbody *ngFor="let draft of drafts">
    <tr>
      <td style="max-width: 5px;">
        <div>
          <span class="ant-checkbox"><input type="checkbox" class="ant-checkbox-input" value=""></span>
        </div>
      </td>
      <td style="max-width: 450px;">
        <div class="d-flex align-items-center">
          <img
          src="{{draft.photoUrl}}"
            (click)="openModalWithComponent(draft)"
              alt=""
              style="width: 55px; height: 55px"
              class="rounded-circle"
              />
          <div class="ms-3">
            <p style="max-width: 350px;" class="fw-bold mb-1 cut-text" title="{{draft.title}}">{{draft.title}}</p>
            <p class="text-muted fs-6  mb-0">Supplier: {{draft.seller}} &nbsp;&nbsp; |&nbsp;&nbsp; Sellet: {{draft.brand}} &nbsp;&nbsp; |&nbsp;&nbsp;<a class="link-secondary" href="{{draft.url}}">View Source Product</a></p>
          </div>
        </div>
      </td>
      <td >
        <div class="float-end">
          <button type="button" class="btn btn-outline-secondary m-1" (click)="openModalWithComponent(draft)" >Edit</button>
          <button type="button" class="btn btn-outline-danger m-1"  (click)="remove(draft.id)">Remove</button>
          <button type="button" class="btn btn-outline-success m-1" (click)="import(draft)">Import</button>
        </div>
      </td>
    </tr>
    </tbody>
</table>

<ng-template #noDrafts>
  <h1 style="text-align: center;">No Drafts availble for now...</h1>
  <h1 style="text-align: center;">If you want to insert some new items please click the button below</h1>
  <button>Add Draft</button>
</ng-template>