.cut-text { 
    text-overflow: ellipsis;
    overflow: hidden; 
    margin: 0 10px;
    white-space: nowrap;
  }


img:hover{
    cursor: pointer;
}

select{
  width: 70px;
  /* margin-left: auto; */
  /* border:0px;
  outline:0px; */
}
