textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ngx-gallery {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    /* background-color: aquamarine; */
  }

  .hover:hover{
    color: chocolate !important;
  }