<tabset *ngIf="member">
  <tab heading="Supplier Settings">
    <div class="d-flex flex-column mt-4 ms-2">
        <div style="width: 50%; margin: auto;">
            <div>Select Store</div>
            <select class="form-select w-75" aria-label="Default select example" disabled>
                <option selected value="...">Future feature</option>
                <!-- <option value="1">One</option> -->
              </select>

              <select #val class="form-select w-75 mt-3" multiple aria-label="multiple select example">
                <option selected value="Walmart">Walmart</option>
                <option value="Home Depot">Home Depot</option>
              </select>
              <hr class="w-75">
        </div>
        <div class="flex-fill shadow p3 bg-body rounded scroller">
            <tabset>
                <tab heading="Lister">
                    <div>{{val.value}}</div>
                    <label for="title" class="m-2">Default Product Quantity</label>
                    <input   type="text" name="title" class="form-control mx-2">
        
                    <div class="d-flex flex-row justify-content-between">
                        <div style="width: 300px;">
                            <label for="brand" class="m-2">Default Item Country</label>
                            <input  type="text" name="brand" class="form-control mx-2">
                        </div>
            
                        <div class="mx-2" style="width: 300px;">
                            <label for="productCategory" class="m-2">Default Zipcode</label>
                            <input  type="text" name="productCategory" class="form-control mx-2">
                        </div>
                    </div>
        
                    <div class="d-flex flex-row justify-content-between">
                        <div style="width: 300px;">
                            <label for="buyPrice" class="m-2">Shipping Methods</label>
                            <input  type="number" step="0.01" name="buyPrice" class="form-control mx-2" disabled>
                        </div>
            
                        <div class="mx-2" style="width: 300px;">
                            <label for="sellPrice" class="m-2">Default Template</label>
                            <input  type="number" step="0.01" name="sellPrice" class="form-control mx-2" >
                        </div>
                    </div>
                    <div class="d-flex flex-row justify-content-between">
                        <div style="width: 300px;">
                            <label for="buyPrice" class="m-2">Shipping Methods</label>
                            <input  type="number" step="0.01" name="buyPrice" class="form-control mx-2" disabled>
                        </div>
            
                        <div class="mx-2" style="width: 300px;">
                            <label for="sellPrice" class="m-2">Default Template</label>
                            <input  type="number" step="0.01" name="sellPrice" class="form-control mx-2" >
                        </div>
                    </div>
                  </tab>
                  <tab heading="Pricing">
                    <form #editForm="ngForm" (ngSubmit)="updateMember()" id="editForm" >
                    <div class="mx-2" style="width: 300px;">
                        <label for="additionalProfit" class="m-2">Additional Profit in %</label>
                        <input [(ngModel)]="member.additionalProfit" type="number" step="0.01" name="additionalProfit" class="form-control mx-2" >
                    </div>
                    <button [disabled]="editForm.pristine" type="submit" form="editForm" class="btn btn-success m-3">Save Changes</button>
                </form>
                  </tab>
            </tabset>
        </div>
        
    </div>
  </tab>

  <tab heading="Account Settings">
    <div class="row">
        <h2 class="col-12 mb-4">Personal Information</h2>
    </div>  
    <div class="row mb-2">
        <div class="col-6 col-md-3">User Name</div>
        <div class="col-6 col-md-9 form-group">
            <span>{{member.username}}</span>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-6 col-md-3">Roles</div>
        <div class="col-6 col-md-9 form-group">
            <span *ngFor="let item of user.roles; let last = last">{{item}}<span *ngIf="!last">,</span></span>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-12 col-md-3">Email</div>
        <div class="col-12 col-md-6 form-group">
            <div class="editable-input">
                <form class="editing input-group input-group-sm">
                    <input class="form-control" type="text" placeholder="Email Address" value="......." disabled>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary text-success" disabled>
                            <span class="fa fa-check"></span>
                        </button>
                        <button class="btn btn-outline-secondary text-danger" disabled>
                            <span class="fa fa-times"></span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <button class="btn btn-info col-6 col-md-3" (click)="openModal(template)">Change Password</button>
    </div>
</tab>

</tabset>

<ng-template class="modal-content" #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Change Password</h4>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">

    <form [formGroup]='changePasswordForm' (ngSubmit)="changePassword()" id="changePasswordForm" autocomplete="off">

        <div class="form-floating mb-3">
            <input 
            [class.is-invalid]="changePasswordForm.get('currentPassword')?.errors && changePasswordForm.get('currentPassword')?.touched"
            type="password" class="form-control" formControlName="currentPassword" id="currentPassword" placeholder="Password">
            <div *ngIf="changePasswordForm.get('currentPassword')?.hasError('required')" class="invalid-feedback">Please enter a password</div>
            <div *ngIf="changePasswordForm.get('currentPassword')?.hasError('minlength')" class="invalid-feedback">password must be at least 6 characters</div>
            <label for="currentPassword">Current Password</label>
        </div>

          <div class="form-floating mb-3">
            <input 
            [class.is-invalid]="changePasswordForm.get('newPassword')?.errors && changePasswordForm.get('newPassword')?.touched"
            type="password" class="form-control" formControlName="newPassword" id="newPassword" placeholder="Password">
            <div *ngIf="changePasswordForm.get('newPassword')?.hasError('required')" class="invalid-feedback">Please enter a password</div>
            <div *ngIf="changePasswordForm.get('newPassword')?.hasError('minlength')" class="invalid-feedback">password must be at least 6 characters</div>
            <label for="newPassword">New Password</label>
        </div>
        
        <div class="form-floating mb-3">
          <input
          [class.is-invalid]="changePasswordForm.get('confirmPassword')?.errors && changePasswordForm.get('confirmPassword')?.touched"
          type="password" class="form-control" formControlName="confirmPassword" id="confirmPassword" placeholder="Confirm Password">
          <div *ngIf="changePasswordForm.get('confirmPassword')?.hasError('required')" class="invalid-feedback">Please confirm the password</div>
          <div *ngIf="changePasswordForm.get('confirmPassword')?.hasError('isMatching')" class="invalid-feedback">Confirm confirmation must match the password </div>              
          <label for="confirmPassword">Confirm New Password</label>
        </div> 
    </form>
        
    </div>
    <div class="modal-footer">
        <!-- <button [disabled]="editForm.pristine" type="submit" form="editForm" class="btn btn-warning" >Add to drafts</button> -->
        <button type="button" class="btn btn-default" (click)="modalRef?.hide()">Cancel</button>
        <button type="submit" [disabled]="changePasswordForm.status=='INVALID'" form="changePasswordForm" class="btn btn-success" >Submit</button>
    </div>
  </ng-template>