<div class="modal-header d-flex flex-column">
	<button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
		<span aria-hidden="true" class="visually-hidden">&times;</span>
	</button>
	<h4 class="modal-title pull-left">
		<div class="alert alert-info" *ngIf="editForm.dirty || editForm2.dirty">
			  You have made changes. any unsaved changes will be lost
		  </div>
	</h4>
  </div>
  <tabset>
	<tab heading="Buyer">
	<div class="modal-body">
		<form #editForm="ngForm" (ngSubmit)="updateOrder()" id="editForm">
			
			<div class="d-flex flex-row ">
				<div class="d-flex flex-column">
					<label for="firstname" class="m-2">First name</label>
					<input [(ngModel)]="customOrder.buyerUsername" type="text" name="buyerUsername" class="form-control mx-2">
				</div>
	
				<div class="d-flex flex-column mx-2">
					<label for="lastname" class="m-2">Last name</label>
					<input [(ngModel)]="customOrder.buyerUsername" type="text" name="buyerUsername" class="form-control mx-2">
				</div>
			</div>
			
			<label for="address" class="m-2">Address 1</label>
			<input [(ngModel)]="customOrder.address" type="text" name="address" class="form-control mx-2">

			<div class="d-flex flex-row justify-content-between">
				<div class="d-flex flex-column">
					<label for="phone" class="m-2">Phone</label>
					<input type="text" name="phone" class="form-control mx-2">
				</div>
	
				<div class="d-flex flex-column align-items-end mx-2">
					<div></div>
					<div>
					<button class="btn btn-primary mx-2" style="margin-top: 40px;" disabled>Message to Buyer</button>
				</div>
				</div>
			</div>
		  </form>
	  </div>
	</tab>
	<tab heading="Order">
		<div class="modal-body" style="min-height: 300px;">
			<form #editForm2="ngForm" (ngSubmit)="updateOrder()" id="editForm2">
			<label for="status" class="m-2">Status</label>
			<select [ngClass]="{'bg-warning' : customOrder.status=='Pending' , 'bg-info' : customOrder.status=='Ordered',
								'bg-success' : customOrder.status=='Delivered'}" 
								[ngStyle]="{'background-color': customOrder.status=='Shipped' ? '#355CEE' : null}"
					class="form-select form-select-lg mb-3" name="status" 
					[(ngModel)]="customOrder.status" aria-label=".form-select-lg example">
				<option class="bg-warning" value="Pending" [selected]="customOrder.status=='Pending'">Pending</option>
				<option class="bg-info" value="Ordered" [selected]="customOrder.status=='Ordered'">Ordered</option>
				<option style="background-color: #355CEE;" value="Shipped" [selected]="customOrder.status=='Shipped'">Shipped</option>
				<option class="bg-success" value="Delivered" [selected]="customOrder.status=='Delivered'">Delivered</option>
			  </select>
			  </form>
		  </div>
	</tab>
  </tabset>

  <div class="modal-footer">
	  <button type="button" class="btn btn-primary" (click)="cancel()">Cancel</button>
	<button type="button" class="btn btn-default" type="submit" form="editForm" [disabled]="editForm2.pristine" [disabled]="editForm.pristine" style="background-color:sandybrown;color: white;" >Save</button>
  </div>