.title{
    background-color: rgb(229, 229, 229);
    padding: 0.5rem;
}

.items{
    padding: 0.25rem 0.5rem;
    gap: 0.25rem;
}

.container{
    padding: 20px;
}

hr{
    padding: 0px;
    margin: 0px;    
  }
