<div >
    <input type="text" id="searchTextId" class="form-control me-2 w-50 my-3" [(ngModel)]="searchText" name="searchText" placeholder="Search By User ID">
  <table class="table align-middle mb-0 bg-white table-hover mt-4" *ngIf="products?.length !== 0; else noDrafts">
      <thead class="bg-light">
          <tr>
            <th>Name</th>
            <th>Uploaded</th>
            <th >Price</th>
            <th >Profit</th>
            <th >item ID</th>
            <th >User ID</th>
          </tr>
        </thead>
        
      <tbody *ngFor="let draft of (products | searchByUserId : searchText)">
        <tr>
          <td style="max-width: 450px;">
            <div class="d-flex align-items-center">
              <img
              src="{{draft.photoUrl}}"
                  alt=""
                  style="width: 55px; height: 55px"
                  class="rounded-circle"
                  />
                  <p style="max-width: 350px;" class="fw-bold mb-1 cut-text" title="{{draft.title}}">{{draft.title}}</p>
              <!-- <div class="ms-3">
                <p class="text-muted fs-6  mb-0">Supplier: {{draft.url.includes("walmart") ? "Walmart US" : null}} &nbsp;&nbsp; |&nbsp;&nbsp; Sellet: {{draft.brand}} &nbsp;&nbsp; |&nbsp;&nbsp;<a class="link-secondary" href="{{draft.url}}">View Source Product</a></p>
              </div> -->
            </div>
          </td>
          <td>
              {{draft.uploaded}}
          </td>
          <!-- <td>
              Store Name
          </td> -->
          <td>
              <div class="mb-1">
                  <span class="bg-secondary text-white" style="display: inline-block; width: 30px; ">Buy</span> ${{draft.buyPrice.toFixed(2)}}
              </div>
              <div>
                  <span class="bg-secondary text-white" style="display: inline-block; width: 30px;">Sell</span> ${{draft.sellPrice.toFixed(2)}}
              </div>
          </td>
          <td>
              <span>${{draft.profit.toFixed(2)}}</span>
          </td>
          <td>
              <div class="mb-1">
                  <span class="bg-secondary text-white" style="display: inline-block; width: 30px; ">Buy</span> <a href="{{draft.url}}">{{draft.itemId}}</a>
              </div>
              <div>
                  <span class="bg-secondary text-white" style="display: inline-block; width: 30px;">Sell</span> Sell Link
              </div>
          </td>
          <td>
            {{draft.userid}}
          </td>
        </tr>
        </tbody>
    </table>
    
    <div class="d-flex justify-content-center mt-3" *ngIf="pagination && products?.length !== 0; else null">
      <pagination
        [boundaryLinks]="true"
        [totalItems]="pagination.totalItems"
        [itemsPerPage]="pagination.itemsPerPage"
        [(ngModel)]="pagination.currentPage"
        (pageChanged)="pageChanged($event)"
        previousText="&lsaquo;"
        nextText="&rsaquo;"
        firstText="&laquo;"
        lastText="&raquo;">
    </pagination>
    </div>

  </div>
  <div class="d-flex justify-content-end mb-2">
    <div>Show :&nbsp;&nbsp;&nbsp;</div>
  <select class="form-select form-select-sm" [(ngModel)]="selectedValue" (ngModelChange)="onChange($event)"  >
  <option  *ngFor="let o of options" [ngValue]="o" [selected]="o==userParams.pageSize">{{o}}</option>
  </select>
  <div *ngIf="pagination && pagination.totalItems;">&nbsp;&nbsp;&nbsp; Out of {{pagination.totalItems}}</div>
  </div>
  
    <ng-template #noDrafts>
      <h1 style="text-align: center;">No Products To Show...</h1>
      <!-- <h1 style="text-align: center;">If you want to insert some new items please click the button below</h1>
      <button>Add Draft</button> -->
    </ng-template>
  

  